.checkoutSuccessPage {
    padding: 20px;
    text-align: center;
}

.card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.productImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.productDetails {
    flex-grow: 1;
}

.productTitle {
    margin: 0;
}

.productPrice {
    margin: 0;
}

.total {
    font-weight: bold;
    margin-top: 10px;
}

.successImage {
    width: 50px;
    height: 50px;
    margin: 20px;
}

.link {
    display: inline-block;
    margin-top: 20px;
}